body{
    font-family:Arial ,serif;
    background-color: rgb(210, 204, 195);

}
#myh1{
    font-size:larger;
    font-style: oblique;
    font-weight: 100;
color: rgb(15, 170, 170);
}
form{
    text-align: center;
    background-color: antiquewhite;
    max-width: 350px;
    height: auto;
    padding: 25px;
    border: 2px solid black;
    border-radius: 2px;
}
#textbox{
    width: 50%;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 2em;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    width:25%;
    height:25%;
    padding: 5px;
    margin-top: 15px;
    color: white;
    background-color: rgb(50, 154, 172);
    border: 1px solid rgb(50, 154, 172);
    border-radius: 5px;
}
#result{
    font-weight: bold;
    font-size: 1.75em;
}